doctype html
html
  head
    meta(charset='UTF-8')
    title CodePen - Login Form
    link(rel='stylesheet', href='css/style.css')
  body
    span#toggle-login.button(href='#') Log in
    #login
      #triangle
      h1 Log in
      form
        input(type='email', placeholder='Email')
        input(type='password', placeholder='Password')
        input(type='submit', value='Log in')
    script(src='http://codepen.io/assets/libs/fullpage/jquery.js')
    script(src='js/index.js')